.button{
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: #07f7f7;
}

.button:pressed{
    -fx-background-color: #239c9c;
}

.imgFrame{
    -fx-arc-height: 30;
    -fx-arc-width: 30;
}